* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Urbanist, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --buttonColor: #2a2c30;
  --secondaryColor: #4b4f56;
  --borderColor: #e3eaf0;
  --backgroundColor: #f7f7f7;
  --backgroundSecondary: #fefefe;
  --textColor: #1e1f23;
  --anchorColor: #535bf2;
  --main-color: #535bf2;
  --supporting-color: #ebf3fe;
  --glow-color: hsl(186, 91%, 4%);
}
html {
  font-size: 62.5%;
  color: var(--textColor);
}
body {
  margin: 0 auto;
  /* padding: 0 32px; */
  min-width: 320px;
  background-color: #0B0B0B;
}

.error-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  color: var(--buttonColor);

  & p,
  h1 {
    color: var(--buttonColor);
    margin-bottom: 1.6rem;
  }
}

.btn {
  display: inline-block;
  padding: 1.2rem 3.2rem;
  background-color: #b50c12;
  color: #fff;
  text-transform: capitalize;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}
.section-common--title {
  font-size: 2rem;
  margin: 2.4rem 0 1.2rem;
}
.btn:hover {
  background-color: var(--backgroundColor);
  box-shadow: var(--btn-box-shadow);
  cursor: pointer;
  color: var(--buttonColor);
  border: 0.1rem solid var(--buttonColor);
}
.btn:focus-visible,
input:focus-visible,
textarea:focus-visible {
  outline: 2px solid var(--para-color);
}
img {
  width: 70%;
  height: auto;
  
}